/*Erika Ogino */
/*Restaurant tips */
body {
    font-family: 'URW Chancery L';
    font-weight: 300;
  }
  
  
  
  .jumbotron {
    display: flex;
    align-items: center;
    background-image: url('https://www.kiplinger.com/kipimages/pages/20722.jpg');
    background-size: cover;
    color: #ffffff;
    height:700px ;
    text-shadow: 0.25px 0.25px 0.25px #000000;
  }

  .jumbotron h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
    font-family: 'Apple Chancery'
  }

  section .row img {
    margin: 0 0 30px;
    width: 100%;
    height: 300px;
  }

  .col-sm-6 {
    margin: 0 0 30px;
  }
    
 